.pai {
   display: flex;
   background-color: rgb(53, 53, 53);
   flex-direction: column;
  }
  
  .pai > div {
    background-color:pink;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }