.pai {
   display: flex;
   background-color: rgb(53, 53, 53);
   flex-direction: row;
   justify-content: space-between;
  }
  
  .pai > div {
    background-color: greenyellow;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }